{{> header}}
    <div class="page-header">
        <div class="header-container">
            <h1>Welcome to {{title}}</h3>
            <div class="description"></div>
        </div>
    </div>

    <div class="container">
        <div id="carouselcontent">
            <div id="carousel">
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Uno.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Dos.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Tres.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Quatro.
                        </p>
                    </div>
                </div>
            </div>
            <div id="forbacknav">
                <div id="goprev" class="forback caronav"><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i></div>
                <div id="gonext" class="forback caronav"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i></div>
            </div>
            <div id="gotonav">
                <div class="goto caronav" value=1><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=2><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=3><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=4><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
{{> footer}}