{{> header}}
    <div class="page-header">
        <div class="header-container">
            <h1>Welcome to {{title}}</h3>
            <div class="description"></div>
        </div>
    </div>

    <div class="container">
        <p>{{title}} is a prereading and reviewing created by writers, for writers</p>
        <p>This page is a bit empty right now. Check back again later!</p>
    </div>
{{> footer}}