{{> header}}
    <div class="page-header">
        <div class="header-container" style="text-align: center">
            <h2>MOTD:</h2>
            <h3>{{motd}}</h3>
            <div class="description"></div>
        </div>
    </div>

    <div class="container">
        <div id="carouselcontent">
            <div id="carousel">
                <div class="slide">
                    <!--<div>-->
                        <div class="row">
                            <div class="col-2">
                                <img src="user.jpg" />
                            </div>
                            <div class="col-9">
                                <h3>Welcome to Abstract!</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    Duis aute irure dolor in reprehenderit in voluptate velit 
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                                    occaecat cupidatat non proident, sunt in culpa qui officia 
                                    deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    <!--</div>-->
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Dos.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Tres.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Quatro.
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div>
                        <p>
                            This is a featured box slide. Numero Cinco.
                        </p>
                    </div>
                </div>
            </div>
            <div id="forbacknav">
                <div id="goprev" class="forback caronav"><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i></div>
                <div id="gonext" class="forback caronav"><i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i></div>
            </div>
            <div id="gotonav">
                <div class="goto caronav" value=1><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=2><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=3><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=4><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
                <div class="goto caronav" value=5><i class="fa fa-circle-o fa-fw" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="top-boxes">
                    <h3>Top Featured</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="top-boxes">
                    <h3>Top Groups</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="top-boxes">
                    <h3>Top Reviewers</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-box content-box-default">
            <div class="content-heading">
                <h3>Latest Blog Posts</h3>
            </div>
            <div class="content-body">
                <p>
                    Nothing here yet. Check back later!
                </p>
            </div>
        </div>
    </div>
{{> footer}}