/* Stylesheet for Abstract.rs */
/* Created by RB and HarmonEpsilon(Figments) of the FimFiction Discord chat */
/* 2017 */
* {
	box-sizing: border-box;
}

body{
    background-color:#f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}
/* Navigation elements */
#nav {
	list-style-type: none;
   	margin: 0;
   	padding:  0 auto;
   	overflow: hidden;
   	background-color: white;
  	border-bottom: 1px solid darkgrey;
   	font-size: 15px;
    font-weight: 400;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#nav li a {
    display: block;
   	color: black;
   	text-align: center;
   	padding: 14px 16px;
   	text-decoration: none;
}

#nav li:hover {
	background-color: lightslategrey;
}

#nav li a:hover {
	color: whitesmoke;
}

#nav li:hover a {
	color: whitesmoke;
}
#nav li:hover .dropdown-c a{
  color:black;
} 
#nav .dropdown-c li:hover a {
  color:white;
}

#nav .dropdown-c a {
	text-align: left;
	padding: 10px 60px 10px 10px;
}

.hori {
	display: inline;
	float: left;
    margin-left: 14px;
}

.dropdown-c {
	display: none;
	list-style-type: none;
	text-align: left;
	margin: 0;
    padding: 0;
	position: absolute;
	z-index: 1;
	background-color: white;
	border: 1px solid darkgrey;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	/*border-radius: 0 0 2px 2px;*/
}

.dropdown-c .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: darkgrey;
}

.dropdown-c .divider:hover {
	background-color: none;
}

.dropdown:hover .dropdown-c {
	display: inline-block;
}

/* Body elements */
div.container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: left;
    padding: 1em 1em;
	border-left: 1px lightgrey;
	border-right: 1px lightgrey;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

div.page-header {
	text-align: left;
	color: whitesmoke;
	background-color: lightslategrey;
	border-bottom: 1px solid lightgrey;
	padding: 1px;
	z-index: -1;
	position: relative;
	/* margin-bottom: 20px; */
}

div.page-header div.header-container {
	max-width: 1300px;
	margin: 0 auto;
	text-align: left;
}

div.page-header div.description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Form Inputs */
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
}

input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
}

input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
}

button[type=submit] {
	background-color: slategray;
	border: black;
	color: white;
	padding: 16px 12px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: lightslategray;
}

/* Content boxes */
.content-box {
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.content-box-body {
	padding: 15px;
}

.content-box-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
}

.content-box-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.content-box-title > a,
.content-box-title > small,
.content-box-title > .small,
.content-box-title > small > a,
.content-box-title > .small > a {
	color: inherit;
}

.content-box-default {
	border-color: #ddd;
}

.content-box-default > .content-box-heading {
	color: white;
	background-color: lightslategray;
	border-color: lightgrey;
}