{{> header}}
        <div class="page-header">
            <div class="group-header">
                <img class="group-image" src="group.png"/>
                <h1 class="group-name">The Royal Guards</h1>
                <h2 class="group-description">Reviewing horsefiction since 2014</h2>
            </div>
        </div>


{{> footer}}