{{> header}}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="content-box content-box-default">
                        <div class="group-content-heading">
                            <h3>Group Policies</h3>
                        </div>
                        <div class="content-box-body">
                            <p>
                                This is a dummy group.
                            </p>
                            <p>
                                This is a dummy group.
                            </p>
                            <p>
                                This is a dummy group.
                            </p>
                            <p>
                                This is a dummy group.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="content-box content-box-default">
                        <div class="group-content-heading">
                            <h3>Group News</h3>
                        </div>
                        <div class="content-box-body">
                            <p>
                                This is a dummy group.
                            </p>
                            <p>
                                This is a dummy group.
                            </p>
                            <p>
                                This is a dummy group.
                            </p>
                            <p>
                                This is a dummy group.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{> footer}}