{{> header}}
        <div class="group-header">
            <div class="group-container">
                <div class="row">
                    <div class="col-2">
                        <img class="group-image" src="group.png"/>
                    </div>
                    <div class="col-10" style="padding-top: 4em">
                        <h1>The Royal Guards</h1>
                        <h2>Reviewing fiction since 2014</h2>
                    </div>
                </div>
            </div>
        </div>

{{> footer}}