        <footer>
            <div class="container foot" style="text-align: center">
                <p>
                    &copy2017 - The Abstract Team - 
                    <a href="#privacy">Privacy Policy</a> - 
                    <a href="#terms">Terms & Conditions</a>
                </p>
            </div>
        </footer>
    </body>
</html>
