<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>{{title}}</title>

        <link rel="stylesheet" href="styles/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css" type="text/css" />
        <link rel="stylesheet" href="styles/pure-release-0.6.2/pure-min.css" type="text/css" />

    </head>

    <body>
    
    {{> navigation}}