{{> head}}
    
    <div class="container">
        <p>
            Abstract is a queue management project for groups that review and preread
            fiction, built using Rust.
        </p>

        <p>
            It's still a work in progress, so check back next time!
        </p>
    </div>
{{> footer}}