        <div class="nav-container">
            <div class="container">
                <div class="pure-menu pure-menu-horizontal">
                    <a class="pure-menu-link" href="/home">{{title}}</a>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item pure-menu-item-has-children pure-menu-allow-hover">
                            <a class="pure-menu-link" href="#">Docs</a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item">
                                    <a class="pure-menu-link" href="#omnibus">General Omnibus</a>
                                </li>
                                <li class="pure-menu-item menu-item-divided">
                                    <a class="pure-menu-link" href="#blog">Abstract Blog</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a class="pure-menu-link" href="#about">About Abstract</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a class="pure-menu-link" href="#faqs">FAQs</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
