        <ul id="nav">
            <li class="hori"><a href="/home">{{title}}</a><li>
            <li class = "hori dropdown"><a href="#">Docs</a>
                <ul class="dropdown-c">
                    <li><a href="#omnibus">General Omnibus</a></li>
                    <li><a href="#blog">Abstract Blog</a></li>
                    <li><a href="/about">About Abstract</a></li>
                    <li><a href="#faqs">FAQs</a></li>
                </ul>
            <li class = "hori"><a href="#signin">Sign in</a></li>
            <li class = "hori"><a href="/register">Register</a></li>
        </ul>
