        <div class="nav-container">
            <div class="container" style="max-width: 1160px">
                <div class="pure-menu pure-menu-horizontal pure-menu-fixed" style="padding-left: 1em">
                    <a class="pure-menu-link pure-menu-heading" href="/home">Abstract</a>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item pure-menu-item-has-children pure-menu-allow-hover">
                            <a class="pure-menu-link" href="#" style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey">Docs</a>
                            <ul class="pure-menu-children" id="navdrop">
                                <li class="pure-menu-item">
                                    <a class="pure-menu-link" href="#omnibus">General Omnibus</a>
                                </li>
                                <li class="pure-menu-item menu-item-divided">
                                    <a class="pure-menu-link" href="#blog">Abstract Blog</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a class="pure-menu-link" href="/about">About Abstract</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a class="pure-menu-link" href="#faqs">FAQs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="#signin" id="register">Sign in</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="#register" style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey">Register</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
