{{> header}}
        <div class="page-header">
            <div class="header-container">
                <h1><i class="fa fa-info fa-fw" aria-hidden="true"></i> About & FAQs</h1>
                <div class="description"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="content-box content-box-default">
                        <div class="content-heading">
                            <h3><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> About Abstract</h3>
                        </div>
                        <div class="content-body">
                            <p>
                                {{title}} is a website dedicated to groups who preread and review fiction, built by writers, for writers.
                            </p>
                            <p>
                                It was created using <a href="https://rocket.rs/">Rocket.rs</a>, a framework built
                                using the Rust programming language. 
                            </p>
                            <p>
                                The code for this site is hosted on <a href="https://github.com/HarmonEpsilon/abstract-rs">GitHub</a>.
                                If you would like to contribute, send the administrator of this site a message.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="content-box content-box-default">
                        <div class="content-heading">
                            <h3><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> FAQs</h3>
                        </div>
                        <div class="content-body">
                            <p>
                                Nothing here yet, just testing shit out.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{> footer}}