{{> header}}
        <div class="body-container">
            <div class="omnibus-opening-header">
                <h1>The Abstract Omnibus</h1>
                </h2>A general guide to good writing and garnering critical acclaim</h2>
            </div>
        </div>

        <div class="omnibus-container">
            <p>
                A great many authors throughout time spent night upon night
                trying to create what the believed was the best story they could
                possibly conceive.
            </p>
        </div>
{{> footer}}