{{> header}}
        <div class="body-container">
            <div class="omnibus-opening-header">
                <h1><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></h1>
                <h1>The Abstract Omnibus</h1>
                </h2>A general guide to good writing and garnering critical acclaim</h2>
            </div>
        </div>

        <div class="omnibus-container">
            <div class="well">
                <p class="quote">
                    Writing a novel is like driving a car at night. You can only see as far as your headlights, but you can make the whole trip that way.
                </p>
                <p class="quote-author">
                    &#151;E. L. Doctorow
                </p>
            </div>
            <p>
                A great many authors throughout time spent night upon night
                trying to create what the believed was the best story they could
                possibly conceive.
            </p>
        </div>
{{> footer}}