{{> header}}
        <div class="body-container">
            <div class="omnibus-opening-header">
                <h1><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></h1>
                <h1>The Abstract Omnibus</h1>
                </h2>A general guide to good writing and garnering critical acclaim</h2>
            </div>
        </div>

        <div class="omnibus-container">
            <div class="well">
                <p class="quote">
                    Writing a novel is like driving a car at night. You can only see as far as your headlights, 
                    but you can make the whole trip that way.
                </p>
                <p class="quote-author">
                    &#151;E. L. Doctorow
                </p>
            </div>
            <hr></hr>
            <h3 style="text-align: center"><a name="Preamble">Preamble</a></h3>
            <p>
                There's a lot to say about writing. Not stuff about someone's favorite stories or authors, or whether 
                or not your bookclub's recommendation is something actually worth pursuing (most of the time, it's not). 
                But the act of writing itself&#151;things like working out the minutia within the next big scene you 
                got in your head, like the worry that the draft you spent the last fifty-plus hours working on is even 
                any good, like the feeling you get when you've finally inked in that last word and now the editing 
                process can begin in earnest&#151;that's the stuff that matters. 
            </p>
            <p>
                Chances are, you're not the only one who's ever experienced any of that. And that's okay&#151;the struggles 
                all writers share is what makes this whole community amazing. That struggle, that eternal quest for the "good 
                story", is what binds us all together despite our desparate efforts, our rivalries, our successes.
            </p>
            <p>
                That's why this Omnibus exists. We here at Abstract strive to allow writers of all skill levels, of all walks of 
                life, grow and help each other to become better at our shared craft. So this is our guide&#151;a modest collection 
                of the do's and don't's that the men and women who came before us found out all on their own. It's not a hard and 
                fast set of rules, but rather a pile of guidelines to help you realize your idea's full potential. Feel free to 
                break them all you like, if you're confident enough to make it work.
            </p>
            <p>
                If you're new here, or even new to writing in general, then the Abstract team would like to extend a courteous 
                'Sup. Hopefully what's written here will let you get started on your way to growing and learning with us and 
                our community. We can't wait to see what you come up with!
            </p>
            <p>
                This Omnibus will be updated as the need arises, which is more than likely infrequent. Also keep in mind that 
                this Omnibus does not dictate the standards of any individual groups. It's just a general guideline. If you 
                have any questions or concerns about anything written within, or anything you'd like to see added, please 
                contact the administrator with the details, and we'll get it squared away as quickly as we can.
            </p>
            <p>
                And as always, keep your wits sharp, and your pen at the ready.
            </p>
            <p>
                &#151;The Abstract Team
            </p>
       </div>
{{> footer}}