{{> header}}
        <div class="body-container">
            <div class="row">
                <div class="col-6">
                    <form action="#" method="POST">
                        <h3>Register</h3>
                        <input type="text" name="user" placeholder="Username" required="true">
                        <input id="password_box" type="password" name="pass" placeholder="Password" required="true">
                        <input id="verify_password" type="password" placeholder="Verify password" required="true">
                        <input type="email" name="email" placeholder="Email address" required="true">
                        <hr></hr>
                        <input type="checkbox" required="true">I agree to the Terms and Conditions</input>
                        <button type="submit">Sign up</button>
                    </form>
                </div>
                <div class="col-6">
                    <h3>Welcome to Abstract!</h3>
                
                    <p>
                        Hello! You're well on your way to becoming a member of Abstract: a community of
                        reviewers, prereaders, and authors pursuing that most elusive thing in the world:
                    </p>
                    <p>
                        A great story.
                    </p>
                    <p>
                        Once you're registered, be sure to check out the active groups and reviewers from
                        the home page, as well as this week's featured stories from our biggest and best
                        groups.
                    </p>
                    <p>
                        And as always, keep your wits sharp, and your pen at the ready.
                    </p>
                    <p>
                        &#151;The Abstract Team
                    </p>
                </div>
            </div>
        </div>
{{> footer}}