{{> header}}
        <div class="body-container">
            <div class="row">
                <div class="col-6">
                    <form action="#" method="POST">
                        <h3><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Sign in</h3>
                        <input type="text" name="user" placeholder="Username" required="true">
                        <input type="password" name="pass" placeholder="Password" required="true">
                        <hr></hr>
                        <input type="checkbox">Remember me</input>
                        <button type="submit">Sign in</button>
                    </form>
                </div>
                <div class="col-6">
                    <h3>Welcome back!</h3>

                    <p>
                        Hey there! It's been a bit, hasn't it?
                    </p>
                    <p>
                        Sign on in and we'll fetch your info and send you on
                        your way.
                    </p>
                    <p>
                        Do you have no idea why we're saying this greeting? You must be new 
                        around here! In which case, why don't you head on over to the
                        <a href="/register">Registration page</a> and sign on up. It's free! 
                    </p>
                    <p>
                        And best of all you get access to nifty features like:
                        <ul>
                            <li>Creating a reviewing or prereading group with likeminded people</li>
                            <li>Striking out on your own and open your own reviewing workshop</li>
                            <li>Submiting your story to the many groups we feature</li>
                            <li>   
                                Competing against your friends and fellow site members through various ego-stroking
                                vanity projects
                            </li>
                        </ul>
                        And so much more!
                    </p>
                    <p>
                        And as always, keep your wits sharp, and your pen at the ready.
                    </p>
                    <p>
                        &#151;The Abstract Team
                    </p>
                </div>
            </div>
        </div>
{{> footer}}